.navbar{
    display: flex;
    align-items:center;
    justify-content: space-between;
    margin:20px 170px;
}
.navbar .logo{
    width: 200px;
    height: auto;
    object-fit: contain;   
    object-position: 50% 20%;
    border-radius: 30%;
   
}

.navbar .theme{
    position: absolute;
    top: 80px;
    left: 290px;
    
    width: 80px;
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
}

.nav-connect{
    padding: 20px 40px;
    border-radius: 50px;
    background: linear-gradient(267deg,#DA7C25 0.36%, #B923E1 102.06%);
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
}  

.nav-connect:hover{
    transform: scale(1.05);
}